<div class="row">
  <% if current_user %>
  <% 1.upto(5) do |t| %>
  <% if @lection.current_user_rating(current_user) < t %>
  <%= link_to "☆", ratings_create_path(:lection_id => @lection.id, :rating => t ), class: "btn btn-light btn-sm", remote: true  %>
  <% else %>
  <%= link_to "⭐", ratings_create_path(:lection_id => @lection.id, :rating => t ), class: "btn btn-light btn-sm",  remote: true  %>
  <% end %>
  <% end %>
  <% end %>
</div>
